p {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  row-gap: 10px;
  max-width: 250px;
  width: 100%;
}
.inner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.drink {
  border: 2px solid burlywood;
}
.week {
  border: 2px dashed black;
}
.season {
  border: 2px solid red;
}
.days {
  border: 2px dashed orange;
}
.color {
  border: 2px solid blue;
}
.calculator {
  border: 2px dashed green;
}
